<mat-nav-list>
    <div >
      <h2 matSubheader class="mt-2">A C M E</h2>
    </div>
    <mat-divider></mat-divider>   
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>inbox</mat-icon> Inbox
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>receipt</mat-icon> Products
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>settings</mat-icon> Admin
      </a>
  </mat-nav-list>
  